.movie-detail-container {
  display: flex;
  height: 100vh;
  background-color: #0b0b0b;
  color: white;
}

.video-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.trailer-player {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 25px #1e90ff;
}

.info-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.info-section h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #e50914;
}

.loading {
  color: white;
  text-align: center;
  padding-top: 50px;
}
