.suggestion-box {
  position: absolute;
  background-color: #111;
  width: 30%;
  border-radius: 6px;
  margin-top: 4px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 50;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.suggestion-item:hover {
  background-color: #222;
  border: 1px solid #fb0202; /* glowing border effect */
  cursor: pointer;
}

.suggestion-item img {
  width: 50px;
  height: 70px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.suggestion-info h4 {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.suggestion-info p {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}
